<!DOCTYPE html>
<html lang="es"> 
  <head>

    <meta charset="utf-8">
    <title>Chuña LTDA</title>
    <link rel="stylesheet" href="estilo.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
	<img src="imagenes/chuñalogo.jpeg" alt="Bungee" width="300" height="187">
  </head>
  <body>
    <h1>Distribuidora de cervezas</h1>
    <h2><b>Contactanos</b><br><br><br></h2>
	
	<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-phone-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M3 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V2zm6 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
</svg>
	
	<pl>Teléfono: +56998745632<br>
	
	<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
</svg>
	Email: chuña@chuña.cl
</svg>
	<br>Dirección: Calle Falsa #123</pl>

	<br><br><script>
function confirmacion() {
	var pregunta = confirm("¿Deseas visitar la página principal?")
	if (pregunta){
		alert("Te envío allí rápidamente")
		window.location = "file:///C:/Users/cmpp2/OneDrive/Documentos/WEB%20Y%20MOBILE/Proyectoweb/Distribuidora.html";
	}
	else{
		alert("Quizás en otro momento...\n Gracias de todas formas")
	}
}
</script>
<button type="button" onclick="confirmacion()" >pagina principal</button>
	
	
	
	
	
	
	
  </body>
</html>